@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700');
@import url(http://fonts.googleapis.com/css?family=Alegreya+SC);

body { background: #FFF; margin: 0; padding: 0; font-family: 'Lato', helvetica, sans-serif; }

#header { border-bottom: 1px solid #CCC; overflow-y: auto; overflow-x: visible; }

h1 { font-weight: bold; font-size: 18pt; }
h2 { font-weight: normal; font-size: 16pt; font-variant: small-caps; clear: both; margin: 16px 0; border-bottom: 1px solid #CCC; letter-spacing: 2px; }
h3 { font-weight: bold; font-size: 12pt; margin: 4px 0 8px 0; }

div.col1 { font-size: 11pt; float: left; width: 28%; overflow: visible; margin: 0; clear: both; }
div.col2 { font-size: 11pt; float: left; width: 70%; overflow: visible; margin: 6px 0 6px 0; }

p { margin: 2px 0 4px 0; }
ul { padding: 0; margin: 0; }
li { list-style: none; margin: 2px 0 4px 0; }